body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body > div {
  height: content;
}
body .screen {
  -webkit-animation: slide 4s linear infinite;
          animation: slide 4s linear infinite;
}
body .star {
  -webkit-animation: bounce 4s linear infinite;
          animation: bounce 4s linear infinite;
}
body .shaddow {
  transform-origin: center center;
  -webkit-animation: bounceShaddow 4s linear infinite;
          animation: bounceShaddow 4s linear infinite;
}

@-webkit-keyframes slide {
  from {
    transform: translatex(-10%);
  }
  to {
    transform: translatex(100%);
  }
}

@keyframes slide {
  from {
    transform: translatex(-10%);
  }
  to {
    transform: translatex(100%);
  }
}
@-webkit-keyframes bounce {
  0%, 40%, 50%, 60%, 100% {
    transform: translatey(0%);
  }
  45%, 55% {
    transform: translatey(-10%);
  }
}
@keyframes bounce {
  0%, 40%, 50%, 60%, 100% {
    transform: translatey(0%);
  }
  45%, 55% {
    transform: translatey(-10%);
  }
}
@-webkit-keyframes bounceShaddow {
  0%, 40%, 50%, 60%, 100% {
    opacity: 100%;
    transform: scale(1, 1);
  }
  45%, 55% {
    opacity: 70%;
    transform: scale(0.8, 0.7) translatey(10%);
  }
}
@keyframes bounceShaddow {
  0%, 40%, 50%, 60%, 100% {
    opacity: 100%;
    transform: scale(1, 1);
  }
  45%, 55% {
    opacity: 70%;
    transform: scale(0.8, 0.7) translatey(10%);
  }
}